# 🧰 Node & Parcel
node_modules/
.cache/
dist/

# ⚙️ System files
.DS_Store
Thumbs.db

# 📄 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ⚙️ Env files
.env
.env.*.local

# 🎨 VS Code config (optional)
.vscode/

.parcel-cache/